<section class="todoapp">
  <header class="header">
    <h1>Log In</h1>
    <%= form_tag(sessions_path) do %>
      <%= text_field_tag :email, value="", class: 'new-todo', placeholder: 'Login with your email' %>
      <%= text_field_tag :password, value="", class: 'new-todo', placeholder: 'Type your password' %>
      <%= submit_tag %>
    <% end %>
  </header>

  <footer class="footer">
  </footer>
</section>
